.ChatRoomContainer {
    display: flex;
    width: 90%;
    position: relative;
    height: 90vh;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    /*background-image: linear-gradient(120deg, #C75392, #6345E9);
    */
}

.ChatRoomContainer::before {
    content: "";
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .4);
    filter: blur(1rem);
    -webkit-filter: blur(1rem);
}

.chatWindow {
    background: rgba(255, 255, 255, 0.2);
    width: 80%;
    border-radius: 3rem 0 0 3rem;
    -webkit-border-radius: 3rem 0 0 3rem;
    -moz-border-radius: 3rem 0 0 3rem;
    -ms-border-radius: 3rem 0 0 3rem;
    -o-border-radius: 3rem 0 0 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat {
    padding: 2rem;
    height: 100%;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    width: 0.25rem;
    background-color: rgba(255, 255, 255, 0.13);
}

.chat::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
}

.chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.ChatRoomContainer form {
    display: flex;
}

.ChatRoomContainer form input {
    width: 100%;
    height: 50px;
    outline: none;
    background-color: rgba(255, 255, 255, .4);
    border: none;
    color: rgb(34, 33, 33);
    font-size: 1.2rem;
    padding-left: 15px;
}

.ChatRoomContainer form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 50px;
    border: none;
    outline: none;
    color: var(--first-color);
    font-weight: bold;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, .4);
  cursor: pointer;
}
/*
.ChatRoomContainer .UserIcon {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: #fff 2px 2px;
    animation: swim 1.2s linear infinite;
}

@keyframes swim {
    0% {
        top: 10%;
    }
    50% {
        top: 11%;
    }
    100% {
        top: 10%;
    }
}

.ChatRoomContainer .UserIcon:hover+.profile {
    width: 20%;
    display: block;
}

.profile {
    display: none;
    z-index: -1;
    background-image: linear-gradient(to right, #220B34, #C11E38);
    position: absolute;
    top: 10%;
    left: 15%;
    width: 0%;
    text-align: end;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    color: #fff;
}

.profile .name {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6rem;
    font-size: 1.5rem;
}

.profile .email {
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.ChatRoomContainer .signOut {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
    padding: 0.4rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background-color: #A71B37;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: 2px 2px #fff;
}

.ChatRoomContainer .signOut:hover {
    background-color: #571135;
    box-shadow: -2px -2px #fff;
}

.chatWindow {
    background-color: rgba(0, 0, 0, 0.13);
    height: 35rem;
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

 */