.message {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    position: relative;
    
}

.sent {
    flex-direction: row-reverse;
}

.chat_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}



.received .text {
    border-radius: 20px 20px 20px 0px;
    -webkit-border-radius: 20px 20px 20px 0px;
    -moz-border-radius: 20px 20px 20px 0px;
    -ms-border-radius: 20px 20px 20px 0px;
    -o-border-radius: 20px 20px 20px 0px;
}
.sent .text {
    border-radius: 20px 20px 0px 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -ms-border-radius: 20px 20px 0px 20px;
    -o-border-radius: 20px 20px 0px 20px;
}
.text {
    display: block;
    /*flex-direction: row;
    */margin-bottom: 12px;
    line-height: 24px;
    padding: 0.5rem;
    position: relative;
    color: white;
    text-align: start;
    background-color: var(--first-color);
    width: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -ms-border-radius: 20px 20px 0px 20px;
    -o-border-radius: 20px 20px 0px 20px;
}

.date {
    color: #ffffff;
    opacity: .5;
    align-self: flex-start;
    font-size: .8rem;
}

.sent .text {
    margin-right: 5px;
    color: #fff;
    align-self: flex-start;
}

.received .text {
    margin-left: 5px;
    color: #fff;
}

.sent-A {
    display: none;
}