.SignIn_page {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sign_btn {
    position: relative;
    height: 100px;
}

.sign_btn button {
    outline: none;
    border: none;
    width: max-content;
    padding: 1.2rem;
    border-radius: 2rem;
    background-color: #C11E38;
    font-size: 2rem;
    color: #fff;
    box-shadow: 5px 5px #fff;
    transition: 0.5s;
}

.sign_btn button:hover {
    background-color: #af274b;
    padding: 1.5rem;
    box-shadow: -5px -5px #fff;
    cursor: pointer;
}

.title {
    font-size: 3rem;
    color: #fff;
    text-shadow: 3px 3px #C11E38;
}

.copyright {
    color: #fff;
    cursor: pointer;
}

.copyright i {
    color: #ff1940;
}
.copyright a {
    text-decoration: none;
    color: rgb(216, 211, 211);
}

.copyright a:hover {
    color: #ff1940;
}